Data Reading and Preparation

In [1]:
import numpy as np
import pandas as pd

# 读数据函数
# testee为被测试者代号 有arc ctj lky
# dType为数据类型 有Mag和Phase

def ReadData(testee, dType, fileNum):
    dataList = list()
    for i in range(0, fileNum):
        fileName = 'D' + str(i)
        pathName = 'data/' + testee + '/' + dType + '/' + fileName + '.csv'
        data = pd.read_csv(pathName, header = None)
        dataList.append(data)
    #print(len(dataList))
    #print(dataList[50])
    return dataList

arcMag = ReadData('arc', 'Mag', 351)
ctjMag = ReadData('ctj', 'Mag', 162)
lkyMag = ReadData('lky', 'Mag', 350)

In [2]:
pd.DataFrame(np.array(arcMag[0])[:10,:13])

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,115.0043,123.4382,115.5206,142.4675,197.4968,112.2185,109.3435,172.1046,105.0048,124.4267,147.5669,128.7245,119.1512
1,115.1217,121.0785,118.2074,146.6322,199.9225,118.0889,99.0051,165.7468,105.6030,124.8079,150.9603,118.3427,120.9669
2,118.3427,113.3181,123.7457,148.2228,199.6998,113.0398,99.8248,167.6305,107.4244,129.2478,154.4668,125.4193,123.4058
3,117.0684,109.5628,117.0043,145.0965,186.9679,110.3449,105.1713,161.1118,108.8118,125.9921,146.0856,123.9677,120.2082
4,119.0168,120.3079,124.4829,146.6970,187.6086,106.7052,107.8147,157.2005,109.6038,132.3707,153.6001,122.6418,122.2497
5,124.1934,125.2278,126.3962,147.1394,195.5633,110.1363,111.5437,163.6246,118.2286,136.4588,156.5184,130.6981,128.0156
6,149.5627,147.1768,153.2221,174.8657,216.0023,123.3694,133.4054,186.4001,136.7808,164.1250,181.1767,151.0132,151.2217
7,166.3731,165.2453,167.7260,191.2302,232.3812,140.5774,147.4924,204.5189,151.0132,182.5431,197.9520,166.5443,169.3665
8,173.7700,170.4699,175.0714,196.2371,228.1622,134.3317,154.8709,199.2486,158.7010,190.5886,204.9244,173.8994,174.0029
9,172.7339,165.6563,174.3474,190.8507,206.2062,122.2620,153.3101,192.6759,155.9295,186.7030,198.4364,170.6283,173.6692

In [3]:
# 先删除不足500列的数据
# 再把剩余数据中多余的部分截去

dataMag = list()

def dataMagPre(dataName):
    l = len(dataName)
    for i in range(0, l):
        rowL = dataName[i].shape[1]
        if rowL < 500:
            continue
        else:
            temp = np.array(dataName[i])[:,:500]
            dataMag.append(temp)
            
dataMagPre(arcMag)
print('Number of class arc : ', len(dataMag))
dataMagPre(ctjMag)
print('Number of class arc + ctj : ', len(dataMag))
dataMagPre(lkyMag)
print('Number of class arc + ctj + lky : ', len(dataMag))

Number of class arc :  341
Number of class arc + ctj :  503
Number of class arc + ctj + lky :  831

In [4]:
pd.DataFrame(dataMag[0][:10,:13])

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,115.0043,123.4382,115.5206,142.4675,197.4968,112.2185,109.3435,172.1046,105.0048,124.4267,147.5669,128.7245,119.1512
1,115.1217,121.0785,118.2074,146.6322,199.9225,118.0889,99.0051,165.7468,105.6030,124.8079,150.9603,118.3427,120.9669
2,118.3427,113.3181,123.7457,148.2228,199.6998,113.0398,99.8248,167.6305,107.4244,129.2478,154.4668,125.4193,123.4058
3,117.0684,109.5628,117.0043,145.0965,186.9679,110.3449,105.1713,161.1118,108.8118,125.9921,146.0856,123.9677,120.2082
4,119.0168,120.3079,124.4829,146.6970,187.6086,106.7052,107.8147,157.2005,109.6038,132.3707,153.6001,122.6418,122.2497
5,124.1934,125.2278,126.3962,147.1394,195.5633,110.1363,111.5437,163.6246,118.2286,136.4588,156.5184,130.6981,128.0156
6,149.5627,147.1768,153.2221,174.8657,216.0023,123.3694,133.4054,186.4001,136.7808,164.1250,181.1767,151.0132,151.2217
7,166.3731,165.2453,167.7260,191.2302,232.3812,140.5774,147.4924,204.5189,151.0132,182.5431,197.9520,166.5443,169.3665
8,173.7700,170.4699,175.0714,196.2371,228.1622,134.3317,154.8709,199.2486,158.7010,190.5886,204.9244,173.8994,174.0029
9,172.7339,165.6563,174.3474,190.8507,206.2062,122.2620,153.3101,192.6759,155.9295,186.7030,198.4364,170.6283,173.6692

In [5]:
dataMagArray = np.array(dataMag)
print('Data shape:', dataMagArray.shape)

Data shape: (831, 57, 500)

In [6]:
#添加类别标签
tmp1 = np.zeros((341,1))
tmp2 = np.zeros((162,1)) + 1
tmp3 = np.zeros((328,1)) + 2

labelsArray = np.append(tmp1, (np.append(tmp2, tmp3, axis = 0)), axis = 0)
print('Label shape:', labelsArray.shape)

Label shape: (831, 1)

In [7]:
for i in range(0, 831):
    for j in range(0, 57):
        for k in range(0, 500):
            if dataMagArray[i, j, k] > 356:
                dataMagArray[i, j, k] = 356

mi = ma = dataMagArray[0, 0, 0]
print(ma)

for i in range(0, 831):
    for j in range(0, 57):
        for k in range(0, 500):
            if dataMagArray[i, j, k] < mi:
                mi = dataMagArray[i, j, k]
            if dataMagArray[i, j, k] > ma:
                ma = dataMagArray[i, j, k]

print('min:', mi, '; max:', ma)

115.0043
min: 0.0 ; max: 356.0

In [8]:
print('Data shape:', dataMagArray.shape)
print('Label shape:', labelsArray.shape) 
pd.DataFrame(dataMagArray[0,:10,:13])

Data shape: (831, 57, 500)
Label shape: (831, 1)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,115.0043,123.4382,115.5206,142.4675,197.4968,112.2185,109.3435,172.1046,105.0048,124.4267,147.5669,128.7245,119.1512
1,115.1217,121.0785,118.2074,146.6322,199.9225,118.0889,99.0051,165.7468,105.6030,124.8079,150.9603,118.3427,120.9669
2,118.3427,113.3181,123.7457,148.2228,199.6998,113.0398,99.8248,167.6305,107.4244,129.2478,154.4668,125.4193,123.4058
3,117.0684,109.5628,117.0043,145.0965,186.9679,110.3449,105.1713,161.1118,108.8118,125.9921,146.0856,123.9677,120.2082
4,119.0168,120.3079,124.4829,146.6970,187.6086,106.7052,107.8147,157.2005,109.6038,132.3707,153.6001,122.6418,122.2497
5,124.1934,125.2278,126.3962,147.1394,195.5633,110.1363,111.5437,163.6246,118.2286,136.4588,156.5184,130.6981,128.0156
6,149.5627,147.1768,153.2221,174.8657,216.0023,123.3694,133.4054,186.4001,136.7808,164.1250,181.1767,151.0132,151.2217
7,166.3731,165.2453,167.7260,191.2302,232.3812,140.5774,147.4924,204.5189,151.0132,182.5431,197.9520,166.5443,169.3665
8,173.7700,170.4699,175.0714,196.2371,228.1622,134.3317,154.8709,199.2486,158.7010,190.5886,204.9244,173.8994,174.0029
9,172.7339,165.6563,174.3474,190.8507,206.2062,122.2620,153.3101,192.6759,155.9295,186.7030,198.4364,170.6283,173.6692

CNN

In [9]:
# 先简单构建一个卷积神经网络

# 分离训练集与测试集
# 85%左右的数据用于训练
tmpTrain1 = list(dataMagArray[0:290,:,:])
tmpTrain2 = list(dataMagArray[341:478,:,:])
tmpTrain3 = list(dataMagArray[503:800,:,:])
tmpTest1 = list(dataMagArray[290:341,:,:])
tmpTest2 = list(dataMagArray[478:503,:,:])
tmpTest3 = list(dataMagArray[800:831,:,:])

trainMagBP = tmpTrain1
trainMagBP.extend(tmpTrain2)
trainMagBP.extend(tmpTrain3)
testMagBP = tmpTest1
testMagBP.extend(tmpTest2)
testMagBP.extend(tmpTest3)

print(len(trainMagBP), '+', len(testMagBP), '= 831')

# 给标签分组
tmpTrain1 = list(labelsArray[0:290])
tmpTrain2 = list(labelsArray[341:478])
tmpTrain3 = list(labelsArray[503:800])
tmpTest1 = list(labelsArray[290:341])
tmpTest2 = list(labelsArray[478:503])
tmpTest3 = list(labelsArray[800:831])

trainLableBP = tmpTrain1
trainLableBP.extend(tmpTrain2)
trainLableBP.extend(tmpTrain3)
testLableBP = tmpTest1
testLableBP.extend(tmpTest2)
testLableBP.extend(tmpTest3)
print(len(trainLableBP), '+', len(testLableBP), '= 831')

trainMagBP = np.array(trainMagBP)
testMagBP = np.array(testMagBP)
trainLableBP = np.array(trainLableBP)
testLableBP = np.array(testLableBP)

print('Training set data shape:', trainMagBP.shape)
print('Training set lable length:', len(trainLableBP))

724 + 107 = 831
724 + 107 = 831
Training set data shape: (724, 57, 500)
Training set lable length: 724

In [10]:
from keras import models
from keras import layers

model = models.Sequential()
model.add(layers.Conv2D(32, (3, 3), activation='relu', input_shape=(57, 500, 1)))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))
model.add(layers.Flatten())
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))

model.summary()

2022-08-18 11:20:10.141538: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2022-08-18 11:20:10.206643: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-18 11:20:10.206666: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 55, 498, 32)       320

 max_pooling2d (MaxPooling2D  (None, 27, 249, 32)      0
 )

 conv2d_1 (Conv2D)           (None, 25, 247, 64)       18496

 max_pooling2d_1 (MaxPooling  (None, 12, 123, 64)      0
 2D)

 conv2d_2 (Conv2D)           (None, 10, 121, 64)       36928

 flatten (Flatten)           (None, 77440)             0

 dense (Dense)               (None, 64)                4956224

 dense_1 (Dense)             (None, 3)                 195

=================================================================
Total params: 5,012,163
Trainable params: 5,012,163
Non-trainable params: 0
_________________________________________________________________

2022-08-18 11:20:11.878264: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-08-18 11:20:11.878284: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-08-18 11:20:11.878306: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (suneo-OMEN-by-HP-Laptop-16-b0xxx): /proc/driver/nvidia/version does not exist
2022-08-18 11:20:11.878718: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [11]:
trainMagBP = trainMagBP.reshape((724, 57, 500, 1))
trainMagBP = trainMagBP.astype('float32') / 356

testMagBP = testMagBP.reshape((107, 57, 500, 1))
testMagBP = testMagBP.astype('float32') / 356

from keras.utils import to_categorical

trainLableBP = to_categorical(trainLableBP)
testLableBP = to_categorical(testLableBP)

In [12]:
model.compile(optimizer = 'rmsprop',
               loss = 'categorical_crossentropy',
               metrics=['accuracy'])

In [13]:
model.fit(trainMagBP, trainLableBP, epochs=5, batch_size=64)

Epoch 1/5
12/12 [==============================] - 3s 223ms/step - loss: 1.8278 - accuracy: 0.3992
Epoch 2/5
12/12 [==============================] - 3s 226ms/step - loss: 1.1249 - accuracy: 0.4820
Epoch 3/5
12/12 [==============================] - 3s 225ms/step - loss: 0.9840 - accuracy: 0.5912
Epoch 4/5
12/12 [==============================] - 3s 224ms/step - loss: 1.2238 - accuracy: 0.5856
Epoch 5/5
12/12 [==============================] - 3s 221ms/step - loss: 0.6916 - accuracy: 0.6975

In [14]:
test_loss, test_acc = model.evaluate(testMagBP, testLableBP)
print('Test Accuracy:', test_acc)

4/4 [==============================] - 0s 36ms/step - loss: 0.5740 - accuracy: 0.6916
Test Accuracy: 0.6915887594223022

In [16]:
model.save('csi_cnn_1.h5')